name: Manage dist files
on: push
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.
        with:
          who: Somebody

  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: testing
    permissions: write-all
    steps:
      - uses: actions/checkout@v5
      - uses: cycjimmy/semantic-release-action@v5
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ github.token }}
