name: Test the Lab 1 of Testing
on: push
jobs:
  test-testing-lab1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: bats test
        run: |
          echo "run test..."
        shell: bash
