name: Manage dist files
on: push
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run prepare
      - uses: ./.
        with:
          who: Somebody

  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs: testing
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run prepare
      - uses: cycjimmy/semantic-release-action@v3
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/exec
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ github.token }}
